{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="container">
    
    <div class="row" style="margin-bottom: 5%;">
        <form>
            <div class="col-md-8">
                <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
            </div>
            <div class="col-md-4">
                <input type="submit"  value="Search" class="btn btn-danger">
            </div>
        </form>
    </div>

<!-- Popular movie -->
<div class="row">
    <h2 style="margin-top: .5%;"> Popular Movies</h2>
    {{ macro.displayMovieList(popular)}}
</div>
    
<!-- Upcoming movie  -->
<div class="row">
    <h2 style="margin-top: 5%;"> Upcoming Movies</h2>
    {{ macro.displayMovieList(upcoming)}}
</div>

<!-- Now showing movie -->
<div class="row">
    <h2 style="margin-top: 5%;"> Now Showing</h2>
    {{ macro.displayMovieList(now_showing)}}
</div>

</div>

{% endblock%}